@import "tailwindcss";

@theme {
    --color-primary: #FACC15;
    --color-primary-dim: #b3920e;
    --color-background-dark: #000000;
    --color-surface-dark: #09090b;
    --color-surface-raised-dark: #121212;
    --color-card-bg: #111111;
    --color-border-dark: #27272a;
    --color-border-light: #3f3f46;

    --font-display: "Chakra Petch", sans-serif;
    --font-body: "Inter", sans-serif;

    --radius-sm: 0.125rem;
    --radius-md: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #27272a;
    border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #3f3f46;
}